---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CenteredContainer from "@/components/CenteredContainer.astro";
---

<BaseLayout title="Home Page">
  <CenteredContainer>
    <h1 class="text-xl font-semibold">Example Authentication</h1>
    <p class="w-full text-balance text-center font-semibold md:w-1/3">
      This is just a simple example of using (and creating) a super simple
      authentication using localStorage or cookies
    </p>
    <p class="w-full text-balance text-center font-semibold md:w-1/3">
      If you have already using third party authentication (AuthKit, Auth0,
      etc), don't use this example
    </p>
    <section>
      <a
        href="/csr/astro/public"
        class="text-blue-400 underline underline-offset-4 transition-colors duration-300 hover:text-blue-700"
        >Client Side (Astro)</a
      >
    </section>
  </CenteredContainer>
</BaseLayout>
