---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CenteredContainer from "@/components/CenteredContainer.astro";
---

<BaseLayout title="Home Page">
  <CenteredContainer>
    <h1 class="text-xl font-semibold">Example Authentication</h1>
    <section>
      <a
        href="/csr/astro/public"
        class="text-blue-400 underline underline-offset-4 transition-colors duration-300 hover:text-blue-700"
        >Client Side (Astro)</a
      >
    </section>
  </CenteredContainer>
</BaseLayout>
