---
// This is an CSR Page, so we need to set prerender to true
export const prerender = true;

import CenteredContainer from "@/components/CenteredContainer.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="CSR - Astro (Protected)">
  <CenteredContainer>
    <p>This is the protected routes</p>
  </CenteredContainer>
</BaseLayout>

<script>
  import { navigate } from "astro:transitions/client";
  /*
    DISCLAIMER:
    Since we're not using any backend handled auth, we need to check if the user is logged in
    The super simple "protection" is to check if the user has a token in the localstorage
  */

  if (!localStorage.getItem("token")) {
    // If the user is not logged in, we redirect them to the login page
    navigate("/csr/astro/public", {
      history: "replace",
    });
  }
</script>
